
body{
  letter-spacing: 1px;
  background-color:hsl(0, 0%, 100%);
}

.container{
  display:flex;
  justify-content: left;
  height: 445.990px;
  margin: auto;
  border-radius:10px;
  width:1080px;
  /* overflow: hidden; */
}
#content{
  background-color: hsl(0, 0%, 100%);
  height:445.990px;
  width:540px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

h1{
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(0, 0, 0);
}

h2{
  padding-left: 20px;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgba(0, 0, 0, 0.637);
}

h3{
  padding-left: 40px;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  color:rgba(209, 28, 28, 0.637);
}

#ulcontents{
  padding-left: 60px;
}

#content p{
 color:hsla(239, 100%, 50%, 0.6);
 font-size: 12px;
 line-height: 20px;
}
.attribution{
  font-size: x-large;
  font-style: italic;
}
